div.process-renderer {
  pointer-events: none;
  overflow: hidden;
  display: grid;
  grid-template-rows: [top] 50% [bottom] 50%;
  grid-template-columns: [left] 50% [right] 50%;
}

div.process-renderer div.disposed {
  display: none;
}
div.process-renderer > * {
  pointer-events: initial;
}

div.process-renderer.subprocesses {
  position: fixed;
}
